* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin-block-start: 1rem;
}

#shopping-list {
  padding: 2rem;
  text-align: center;
  width: 900px;
  margin: 0 auto;
}

.header,
.header > h1 {
  margin-block: 2rem;
}

.strikethrough {
  text-decoration: line-through;
}

.priority {
  color: orange;
}
